body {
    background:#0d1117;
    color:white;
    font-family:Arial;
    text-align:center;
}

canvas {
    background:#1f8b4c;
    border:2px solid white;
}

button {
    padding:8px;
    margin:5px;
}
